.playlistOverlayList {
  flex: 1;
  overflow-y: auto;
}

.playlistOverlayItem {
  display: flex;
  padding: 12px 6px;
}

.playlistOverlayItemActive {
  background-color: #373737;
}

.playlistOverlayItem :deep(.videoThumbnail),
.playlistOverlayItem :deep(.thumbnailImage) {
  width: 100px;
  height: 56.25px !important;
}

.playlistOverlayItem :deep(.infoLine) {
  display: none;
}

.playlistOverlayItem :deep(.videoIndexArea) {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  margin-right: 6px;
  font-size: small;
}
