:deep(.ft-chapter-name-button) {
  width: fit-content;
  max-width: 400px;
  border-radius: 20px;
  padding: 0 12px;
  font-weight: 600;
}

:deep(.ft-chapter-name-button::before) {
  inset: 4px;
  border-radius: 16px;
}

:deep(.ft-chapter-name-button span) {
  display: block;
  max-width: 376px;
  overflow-x: clip;
  white-space: nowrap;
  text-overflow: ellipsis;
  transform: translateY(1px);
}
