:deep(.ft-player-button) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  color: inherit;
  position: relative;
}

:deep(.ft-player-button::before) {
  content: '';
  position: absolute;
  inset: 10%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
}

:deep(.ft-player-button:hover::before) {
  opacity: 1;
}

:deep(.ft-player-button svg) {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
