.ft-input {
  padding: 0 !important;
  margin: 0 !important;
  block-size: unset;
  background-color: transparent;
}

.inputWrapper {
  padding: 6px 8px 6px 16px;
  height: 100%;
  display: flex;
  background-color: var(--search-bar-color);
  gap: 10px;
  align-items: center;
  border-radius: 5px;
}

.inputAction {
  margin: 0;
  padding: 0;
  inset-block-start: 0;
  position: relative;
  width: 36px;
  height: 36px;
}

.clearInputTextButton {
  display: none;
}

.ft-input-component.search.showClearTextButton {
  padding-inline-start: 0;
}

.list {
  box-shadow: none;
  margin-top: 8px;
  border-radius: 10px;
  padding: 10px;
  width: 420px !important;

  li {
    padding: 12px 10px;
    border-radius: 6px;
    line-height: unset;
    align-items: center;
    cursor: pointer;
  }

  .hover {
    background-color: rgb(62, 62, 62);
  }
}

.optionWrapper {
  align-items: center;
  gap: 10px;
  max-width: 340px;

  bdi {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.searchResultIcon {
  padding: 0;
}
