.videoAreaMargin {
  margin: 0 !important;
}

.videoPlayer {
  border-radius: 10px;
}

.videoLayout {
  padding: 0 24px 24px 24px;
  grid-template-columns: minmax(0, 920px) minmax(0, 920px) 400px;
  column-gap: 16px;
  row-gap: 12px;

  @media only screen and (width <= 1050px) {
    grid-template-columns: auto;
  }

  @media only screen and (width <= 1050px) {
    .tabHidden {
      display: none;
    }
  }
}
