.tabs {
  display: none;
  color: var(--tertiary-text-color);
}

@media only screen and (width <= 1050px) {
  .tabs {
    display: flex;
    margin: 10px 0 !important;
  }
}

.tab {
  flex: 1;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  background: none;
  border-style: none;
  border-block-end: 3px solid transparent;
  font: inherit;
  color: inherit;
}

.tab:hover,
.tab:focus {
  font-weight: bold;
}

.selectedTab {
  border-block-end: 3px solid var(--primary-color);
  color: var(--primary-text-color);
  font-weight: bold;
}
