.player {
  border-radius: 10px;
}

:deep(.shaka-controls-button-panel),
:deep(.shaka-scrim-container),
:deep(.shaka-seek-bar-container),
:deep(.playerFullscreenTitleOverlay) {
  transition-duration: 0s;
}

:deep(.playerFullscreenTitleOverlay) {
  text-shadow: 0 0 3px #000;
  font-weight: 700;
  font-size: 20px;
  margin: 18px 20px;
  background-color: transparent;
}

:deep(.shaka-bottom-controls) {
  width: 100%;
  margin: 14px 0;
}

:deep(.shaka-seek-bar-container) {
  margin: 12px 14px;
  top: 0;
  border: none;
}

:deep(.shaka-range-element ) {
  height: 20px;
  top: calc((4px - 20px) / 2);
}

:deep(.markerContainer > .chapterMarker:first-of-type) {
  display: none;
}

:deep(.chapterMarker) {
  width: 4px;
}

:deep(.shaka-player-ui-thumbnail-container) {
  gap: 10px;
  bottom: 26px;
}

:deep(.shaka-player-ui-thumbnail-image-container) {
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: none;
}

:deep(.shaka-player-ui-thumbnail-time-container) {
  gap: 6px;
  background: rgba(0, 0, 0, .5);
  border-radius: 20px;
  padding: 10px 16px !important;
  flex-direction: row-reverse;
}

:deep(.shaka-player-ui-thumbnail-time) {
  background: transparent !important;
  font-size: 13px !important;
  transform: translateY(1px);
  padding: 0 !important;
}

:deep(.ft-seek-chapter-name) {
  transform: translateY(1px);
  font-size: 13px;
  color: white;
  font-weight: 600;
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

:deep(.shaka-controls-button-panel) {
  margin: 0 14px;
  gap: 10px;
}

:deep(.shaka-spacer) {
  width: unset;
  height: unset;
}
