.player {
  border-radius: 10px;
}

:deep(.shaka-controls-button-panel),
:deep(.shaka-scrim-container),
:deep(.shaka-seek-bar-container) {
  transition-duration: 0s;
}

:deep(.playerFullscreenTitleOverlay) {
  text-shadow: 0 0 3px #000;
  font-weight: 700;
  font-size: 20px;
  margin: 18px 20px;
}

:deep(.shaka-bottom-controls) {
  width: 100%;
  margin: 14px 0;
}

:deep(.shaka-seek-bar-container) {
  margin: 12px 14px;
  top: 0;
  border: none;
}

:deep(.shaka-range-element ) {
  height: 20px;
  top: calc((4px - 20px) / 2);
}

:deep(.markerContainer > .chapterMarker:first-of-type) {
  display: none;
}

:deep(.chapterMarker) {
  width: 4px;
}

:deep(.shaka-player-ui-thumbnail-container) {
  gap: 10px;
  bottom: 26px;
}

:deep(.shaka-player-ui-thumbnail-image-container) {
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: none;
}

:deep(.shaka-player-ui-thumbnail-time) {
  padding: 8px 12px !important;
  border-radius: 20px !important;
}

:deep(.shaka-controls-button-panel) {
  margin: 0 14px;
  gap: 10px;
}

:deep(.shaka-spacer) {
  width: unset;
  height: unset;
}
