@mixin is-sidebar-item {
  @at-root {
    .watchPlaylistItem#{&},
    .recommendation#{&} {
      @content;
    }
  }
}

.ft-list-item {
  padding: 0 !important;

  &.watched {
    background-color: transparent;
  }
}

.videoThumbnail {
  padding: 0 !important;
  margin-bottom: 10px;
  overflow: hidden;
}

@include is-sidebar-item {
  .videoThumbnail {
    margin-bottom: 0;
  }
}

.videoThumbnail, .thumbnailImage {
  border-radius: 8px;
}

.videoDuration {
  padding: 2px 4px 1px 4px !important;
  margin: 4px !important;
  font-size: small !important;
  font-weight: 600 !important;
  z-index: 2;
  background-color: #151515 !important;
}

.h3Title {
  font-size: medium;
  font-weight: 600;
}

.playlistIcons, .videoWatched, .restArea {
  display: none !important;
}

.videoTagLine {
  display: none;
}
