.topNav {
  display: flex;
  justify-content: center;
  block-size: unset;
  line-height: unset;
  box-shadow: none;
  background-color: transparent;
  padding: 14px 0 0 0;
  margin-bottom: 36px;
}

.side, .navFilterButton {
  display: none;
}
